body {
    display:flex;
    flex-direction: column;
}

.first {
    margin: 2px;
    padding: 5px;
    border:2px solid red;
}

    .header {
        border: 2px solid blue;
    }

    .links {
        border: 2px solid blue;
    }

    .welcome {
        border: 2px solid red;
    }

    .welcome-text {
        border: 2px solid yellow;
    }

    .welcome-img {
        border: 2px solid red;
    }

.second {
    margin: 2px;
    padding: 5px;
    border:2px solid green;
}

    .some-info {
        border: 2px solid blue;
    }

.third {
    margin: 2px;
    padding: 5px;
    border:2px solid blue;
}

.fourth {
    margin: 2px;
    padding: 5px;
    border:2px solid yellow;
}

.fifth {    
    margin: 2px;
    padding: 5px;
    border:2px solid pink;
}